# Environment
NODE_ENV=development

# Server
PORT=3000
API_PREFIX=api

# Supabase
SUPABASE_URL=your-project-url.supabase.co
SUPABASE_ANON_KEY=your-anon-key

# Database
DATABASE_URL="postgresql://postgres:your-password@db.your-project-ref.supabase.co:5432/postgres"

# CORS
CORS_ORIGIN=http://localhost:3000
